

body{padding:20px;font-family: Roboto, arial}

#awesome_tab {
    width:500px;
}
ul{
    list-style-type: none;
}

/* HEADER */

.tab_header .item {
    border: 1px solid #cacaca;
    background: #e4e4e4;
    box-sizing: border-box;
    padding: 10px;
    float: left;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tab_header .item.active {
    background:#0275d8;
    color:#fff;
}

.tab_header:after {
    content: "";
    display: table;
    clear: both;
}



/* CONTAINER */


.tab_container .container_item {
    border: 1px solid #cacaca;
    box-sizing: border-box;
    padding: 20px;
    display:none;
}
.tab_container .container_item.active {
    display:block;
}



/*===============================
            CARD SLIDER
 ================================*/


body {
    padding:20px;
    font-family: Roboto;
}

/* CONTAINER */

.cardSlider .wrapper {
    position: relative;
}

.cards_container {
    box-sizing: border-box;
    width: 80%;
    height: 300px;
    margin: 0 auto;
    background: #ececec;
}

.cards_container .item {
    height: 300px;
    display:none;
}
.cards_container .item.active {
    display: block;
    padding: 20px;
}

/* BTNS */

.action_btns {
    position: absolute;
    top: 99px;
    width: 100%;
}

.action_btns .btn {
    width: 50px;
    height: 50px;
    padding: 0px;
    font-size: 50px;
    color: #0275d8;
}

.action_btns .btn.btn_prev {
    float: left;
}

.action_btns .btn.btn_next {
    float: right;
}

/* COUNTER */

.count_slide {
    width: 139px;
    background: #0275d8;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    float: right;
}

.count_slide span{
    font-weight: bold;
}




/*===============================
            OVERLAY
 ================================*/

.overlay-veil {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #cecece;
    display: none;
}


.overlay-component {
    width:400px;
    height:400px;
    background:#fff;
    position:absolute;
    color:#fff;
    border-radius: 10px;
    top:50%;
    left:50%;
    padding:15px;
    transform: translate(-50%,-50%);
    z-index: 9999;
    display: none;
}

.overlay-component .closeOverlay {
    color: #bd2424;
    cursor: pointer;
}


.overlay-component h1 {
    color: #4a4a4a;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.overlay-component .ov-content {
    color: #868686;
}


/*===============================
          DRAGGABLE
 ================================*/

.draggable {
    width:100px;
    height:100px;
    background: blue;
}

.drag_container {
    width:300px;
    height:300px;
    background: red;
}

.cancel{
    width:50px;
    height:50px;
    background: green;
}

.handle {
    display: inline-block;
    background: black;
}

/*===============================
          DROPPABLE
 ================================*/

.draggable {
    width:100px;
    height:100px;
    background: blue;
}

.droppable {
    width:300px;
    height:300px;
    background: red;
}
.droppable.accepted {
    background: green;
}

/*===============================
          RESIZABLE
 ================================*/


.resizable {
    width:100px;
    height:100px;
    background: blue;
}

.block {
    width:300px;
    height:300px;
    background: red;
}

/*===============================
          SELECTABLE
 ================================*/

.ui-selected {
    background:green;
}
